/* PALETTE dei COLORI */

.bg-base {
    background: #F9F9F9 !important;
}

.text-primary,
a {
    color: #875A7B !important;
}

.bg-primary {
    background: #875A7B !important;
}

.border-primary {
    border-color: #875A7B !important;
}

.btn-primary {
    color: white !important;
    background: #875A7B !important;
    border-color: #875A7B !important;
}

.text-secondary {
    color: #00A09D !important;
}

.bg-secondary {
    background: #00A09D !important;
}

.border-secondary {
    border-color: #00A09D !important;
}

.btn-secondary {
    color: white !important;
    background: #00A09D !important;
    border-color: #00A09D !important;
}

b {
    color: #875A7B !important;
}

.cloud-primary {
    background-image: url("https://raw.githubusercontent.com/mazzetticapital/imprendi_static/master/images/cloudoo_cloud_primary.svg");
}

.cloud-secondary {
    background-image: url("https://raw.githubusercontent.com/mazzetticapital/imprendi_static/master/images/cloudoo_cloud_secondary.svg");
}